table{
    width: 600px;
    text-align: center;
}
thead{
    background-color: greenyellow;
}
.cyan{
    background-color: cyan;
    text-align: left;
}
.red{
    color: red;
}
.pink{
    background-color: pink;
    text-align: right ;
}